.modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content{
    width: 500px;
    background-color: #fff;
}

.modal-header, .modal-footer{
    padding: 10px;
}

.modal-title{
    margin: 0;
}

.modal-body{
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.btn-accept{
    height: 55px;
    width: 140px;
    background-color: green;
    padding: 20px;
    margin: 20px;
    text-align: center;
  }

  input{
    padding: 10px 15px;
    margin: 10px 15px;
    font-size: 18px;
    text-align: left;
    border-radius: 10px;
    background-color: lightgray;
    font-weight: bold;
  }