.summary-container{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 1);
}

.summary-content{
    text-align: left;
    line-height: 1.8em;
    font-size: 1.5em;
}

.summary-buttons-container{
    width: 100%;
}